
<div class="card" style="max-width: 20rem;">
  <div class="card-img">
    <img src="https://placeimg.com/400/280/nature" class="card-img-top">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ destino.lugar.toUpperCase() }}</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, tempore id laudantium aspernatur fugiat distinctio nihil quasi voluptas veritatis doloribus, totam facilis perspiciatis. Fuga rerum, vel dicta ullam architecto quod?
    </p>
  </div>
</div>
