<div class="card" style="max-width: 20rem">
  <div class="card-img">
    <img src="https://placeimg.com/400/280/nature" class="card-img-top" />
    <span class="badge rounded-pill bg-warning">
      {{ position }}
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ destino.lugar.toUpperCase() }}</h5>
    <p class="card-text">Servicios</p>
    <ul>
      <li *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{ servicio }}</i>
          <i *ngSwitchCase="'wifi'" style="color: green">{{ servicio }}</i>
          <i *ngSwitchDefault>{{ servicio }}</i>
        </span>
      </li>
    </ul>
    <div class="votos">
      <p>Vota</p>
      <div class="d-flex justify-content-end ">
        <a href="#" (click)="voteUp()" class="mr-3">
          <i class="material-icons md-18 btn-success">thumb_up</i>
        </a>
        <a href="#" (click)="voteDown()">
          <i class="material-icons md-18 btn-danger">thumb_down</i>
        </a>
      </div>
      <p>Votos: {{ destino.votes }}</p>
      <a href="#" (click)="resetVotes()">Reset Votes</a>
    </div>
    <button class="btn btn-success" (click)="ir()">Ir!</button>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{ PREFERIDO }}</span>
    </span>
    <a [routerLink]="['/destino', destino.id]">Ver Detalle</a>
    <button class="btn btn-danger" (click)="eliminar()">Eliminar</button>
  </div>
</div>
